
# local helpers 
final_group_projectv.pdf


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/


venv/
.env/
.venv/


.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/


data/

.DS_Store
*.swp

.vscode/
.idea/

.mypy_cache/
.pytest_cache/
.ruff_cache/

PromotorOptimizer.egg-info/